/* layout */
#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

section.ant-layout {
  height: 100%;
}

.site-layout-background {
  height: 90%;
}

/* Header */

Header {
  position: fixed; 
  z-index: 1;
  width: 100%;
}

/* Content */

main.ant-layout-content {
  padding: 0 50px;
  margin-top: 64px;
}

nav.ant-breadcrumb {
  margin: 16px 0;
}

.site-layout-background {
  padding: 24px;
  min-height: 380px;
}

/* Footer */

Footer {
  text-align: center;
}