.search {
  margin-top: 100px;
  text-align: center;
}

.search input {
  width: 20%;
  min-width: 300px;
  outline: none;
  border: 2px solid var(--box-shadow);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  transition: all 0.8s;
  height: 46px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(112, 116, 124);
  background-color: var(--input-background-color);
}

.search input:focus {
  width: 40%;
  box-shadow: 0 0 5px var(--color);
  border: 2px solid var(--color);
  color: var(--color);
}
