.check {
  cursor: pointer;
  padding: 5px;
  width: 50px;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  background-color: rgb(65, 116, 209);
}

.ant-spin-container {
  height: 100%;
}

.ant-table-wrapper,
.ant-spin-container,
.ant-spin-nested-loading,
.ant-spin-container {
  height: 100%;
}

.ant-table {
  overflow-y: scroll;
  height: calc(100% - 60px);
}

.layout_left {
  padding: 40px;
  width: 25%;
  height: 90%;
}

.layout_right {
  width: 68%;
  height: 90%;
}

.layout_content {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.author_img {
  margin-top: 50px;
  text-align: center;
}

.author_img img {
  width: 50%;
  border-radius: 100px;
}

.author_name {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 150px;
}

.target_button {
  text-align: center;
}

.list_table {
  height: 85%;
}

.list_input {
  padding-top: 20px;
  height: 15%;
  text-align: center;
}

.list_input input {
  width: 40%;
  min-width: 300px;
  outline: none;
  border: 2px solid var(--box-shadow);
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  transition: all 0.8s;
  height: 46px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(112, 116, 124);
  background-color: var(--input-background-color);
}

.list_input input:focus {
  width: 70%;
  box-shadow: 0 0 5px var(--input-placeholder-color);
  border: 2px solid var(--input-placeholder-color);
  color: var(--color);
}
