.header {
  height: 60px;
  width: 100%;
  padding: 0 50px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
}

.navs {
  width: 40%;
  max-width: 150px;
}

.nav {
  display: inline-block;
  width: 50%;
  text-align: center;
  line-height: 60px;
  color: var(--color);
}

.nav_active {
  background-color: var(--nav-hover-background-color);
}

.nav:hover {
  background-color: var(--nav-hover-background-color);
}

.nav_right {
  width: 200px;
  display: flex;
  justify-content: space-around;
}

.change_theme {
  cursor: pointer;
}

.change_theme img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.login {
  cursor: pointer;
}

.login img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}
