@import "~antd/dist/antd.css";

#root {
  height: 100%;
}

#root > div {
  height: 100%;
}

* {
  color: var(--color);
}

body,
.ant-layout {
  background-color: var(--body-background-color);
}

.site-layout .site-layout-background,
.site-layout-background {
  background-color: var(--hover-background-color) !important;
  box-shadow: 0 0 4px var(--box-shadow);
  border: 0.5px solid var(--box-shadow);
}
